 // $body-background-color: #333333;
 $body-heading-color: #373a40;
 $body-text-color: #373a40;
 $link-color: #da8d00;
 $nav-child-link-color: #ffa702;
 $sidebar-color: #373a40;
 //$base-button-color: #f7f7f7;
 //$btn-primary-color: #ce93d8;
 $code-background-color: #bbbbbb;
 $feedback-color: darken(#373a40, 3%); // Tento řádek vyžaduje speciální zpracování
 //$table-background-color: #ffffff;
 $search-background-color: #373a40;
 //$search-result-preview-color: #212121;
 $hr-background-color: #bb7900;
 
 