$color-scheme: tf_style !default;
$body-background-color: $grey !default;
$body-heading-color: $grey !default;
$body-text-color: $grey !default;
$link-color: $purple !default;
$nav-child-link-color: $grey !default;
$sidebar-color: #373a40 !default;
$base-button-color: #f7f7f7 !default;
$btn-primary-color: $purple !default;
$code-background-color: $grey !default;
$feedback-color: darken($sidebar-color, 3%) !default;
$table-background-color: $white !default;
$search-background-color: $white !default;
$search-result-preview-color: $grey-dk-000 !default;
