---
---
@import "tfstyle";
@charset "utf-8";

$sidebar-color: #373a40 !default;
$theme-primary: #ff0000;
$body-background-color: #333333 !default;
$body-heading-color: #666666 !default;
$body-text-color: #333333 !default;
$link-color: #f3e5f5 !default;
$nav-child-link-color: #333333 !default;
$sidebar-color: #373a40 !default;
$base-button-color: #f7f7f7 !default;
$btn-primary-color: #ce93d8 !default;
$code-background-color: #f5f5f5 !default;
$feedback-color: darken(#373a40, 3%) !default; // Tento řádek vyžaduje speciální zpracování
$table-background-color: #ffffff !default;
$search-background-color: #ffffff !default;
$search-result-preview-color: #212121 !default;
